input {
  text-align: center;
}

label.v-label {
  color: #ffffff !important;
}

.v-input__slot {
  color: #ffa500 !important;
}

input#length {
  color: #ffffff;
}

.v-btn__content {
  color: #000000 !important;
}

.container {
  min-width: 80%;
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 100%;
  text-align: center;
}

#app {
  min-height: 100vh;
}

.theme--light.v-application {
  background: none !important;
}

#background-image {
  background-color: #4a00e0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  text-shadow: 1px 2px #000000;
}

#settings {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#box {
  background-color: rgba(1, 1, 1, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0.25rem;
}

#settings v-input {
  max-width: 100px;
}

#passwordList {
  min-width: 35%;
}

#passwordList textarea {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
}

#boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#boutons button {
  margin: 0px 0px 10px 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer {
  text-align: right;
  color: #ffffff;
  font-size: 0.6rem;
  margin-right: 10px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer p {
  margin-bottom: 0px !important;
}

footer a {
  color: #ffa500 !important;
}

@media only screen and (max-width: 560px) {
  .subtitle {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */