@import 'variables.scss';
input {
    text-align: center;
}

label.v-label {
    color: $blanc !important;
}

.v-input__slot {
    color: $orange !important;
}

input#length {
    color: $blanc;
}

.v-btn__content {
    color: $noir !important;
}

.container {
    min-width: 80%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $blanc;
    margin: 0;
    padding: 0;
    min-width: 100%;
    text-align: center;
}

#app {
    min-height: 100vh;
}

.theme--light.v-application {
    background: none !important;
}

#background-image {
    background-color: $dark-purple;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    touch-action: none;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
    color: $blanc;
    padding-top: 3px;
    padding-bottom: 3px;
    text-shadow: 1px 2px $noir;
}

#settings {
    flex-direction: column;
}

#box {
    background-color: rgba(1, 1, 1, 0.3);
    justify-content: center;
    width: 80%;
    flex-direction: row;
    align-items: center;
    color: $blanc;
    justify-content: space-around;
    border-radius: 0.25rem;
}

#settings v-input {
    max-width: 100px;
}

#passwordList {
    min-width: 35%;
}

#passwordList textarea {
    font-size: 10px;
    color: $blanc;
    text-align: center;
}

#boutons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#boutons button {
    margin: 0px 0px 10px 0px;
    width: max-content;
}

footer {
    text-align: right;
    color: $blanc;
    font-size: 0.6rem;
    margin-right: 10px;
    max-height: fit-content;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}

footer p {
    margin-bottom: 0px !important;
}

footer a {
    color: $orange !important;
}

@media only screen and (max-width: 560px) {
    .subtitle {
        font-size: 25px;
    }
}