<template>
    <v-app>
        <div id="background-image" />
        <div class="container">
            <div id="header">
                <h2 class="subtitle">Random password generator</h2>
            </div>

            <v-container
                id="box"
                class="flex-wrap justify-space-around"
                background-color="rgba(1,1,1,0.3)"
            >
                <div id="settings">
                    <v-text-field
                        id="length"
                        v-model="passwordLength"
                        label="Length"
                        color="#ffffff"
                        autocomplete="off"
                        class="centered-input text-center"
                        :rules="rules.length"
                        required
                    ></v-text-field>
                    <v-btn rounded color="#ffa500" light @click="randomLength()"
                        >Random length</v-btn
                    >

                    <v-switch
                        v-model="alphanumeric"
                        class="mx-2 text-center"
                        color="#ffa500"
                        label="Letters and digits only"
                    ></v-switch>

                    <v-switch
                        v-model="uniqueCharacters"
                        class="mx-2 centered-input"
                        color="#ffa500"
                        label="Unique characters"
                    ></v-switch>

                    <v-btn
                        rounded
                        color="#ffa500"
                        light
                        @click="createPassword()"
                        >Generate password</v-btn
                    >
                </div>

                <div id="passwordList">
                    <v-textarea
                        id="passwords"
                        v-model="passwordList"
                        cols="30"
                        rows="7"
                        background-color="rgba(0, 0, 0, 0.2)"
                        readonly
                    ></v-textarea>
                    <div id="boutons">
                        <v-btn
                            rounded
                            color="#ffa500"
                            light
                            @click="copyClipboard()"
                            >Copy to clipboard</v-btn
                        >

                        <v-btn
                            rounded
                            color="#ffa500"
                            light
                            @click="dlPasswords()"
                            >Save passwords</v-btn
                        >

                        <v-btn
                            rounded
                            color="#ffa500"
                            light
                            @click="clearPasswordsList()"
                            >Clear</v-btn
                        >
                    </div>
                </div>
            </v-container>
        </div>
        <footer>
            <p>
                Photo by
                <a
                    href="https://unsplash.com/@flysi3000?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                    >Simon Abrams</a
                >
                on
                <a
                    href="https://unsplash.com/s/photos/computer?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                    >Unsplash</a
                >
            </p>
            <p>
                Icons by
                <a
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                    >Freepik</a
                >
                on
                <a href="https://www.flaticon.com/" title="Flaticon"
                    >Flaticon</a
                >
            </p>
        </footer>
    </v-app>
</template>

<script>
import pwd from 'assets/randomPassword.js';
import savePD from 'assets/savePasswords.js';

export default {
    components: {},
    data: () => ({
        passwordLength: '15',
        alphanumeric: false,
        uniqueCharacters: true,
        passwordList: '',
        rules: {
            length: [
                val =>
                    parseInt(val) >= 15 ||
                    `The password must be at least 15 characters long`
            ]
        }
    }),

    methods: {
        createPassword() {
            const length = parseInt(this.passwordLength);

            if (length < 15) {
                return;
            }

            const password = pwd.buildPassword(
                length,
                this.alphanumeric,
                this.uniqueCharacters
            );
            this.passwordList += password + '\n';
        },
        randomLength() {
            this.passwordLength = pwd.myRand(15, 64).toString(10);
        },
        dlPasswords() {
            savePD.downloadPasswords();
        },
        copyClipboard() {
            pwd.copyToClipboard();
        },
        clearPasswordsList() {
            pwd.clear();
            this.passwordList = '';
        }
    }
};
</script>
